#root{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
  .mainPage{
    flex-grow: 1;
  }
  .itemCard{
    border-radius:5px ;
    box-shadow: 1px 0px 20px 6px rgba(0, 0, 0, 0.75);
  }
  
 